@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
.upper{
    display: flex;
    gap: 22px;
   
}
.home-container{
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: auto;
    height: auto;
    box-sizing: border-box;
    display: grid;
    gap:50px;
}
.fullBtn{
    height: 30px;
   width: 812px;

}
.btn1{
    height: auto;
    width:auto;
    background-color: white;
    position: absolute;
    letter-spacing: 0.06rem;
    left: 390px;
    color: #26262C;
    top: 720px;
    font: 0.68rem / 0.68 "Avenir Book", sans-serif;
    padding: 15px 20px;
    
}
.btn2{
    height: auto;
    width:auto;
    background-color: white;
    position: absolute;
    letter-spacing: 0.06rem;
    left: 200px;
    color: #26262C;
    top: 1310px;
    font: 0.68rem / 0.68 "Avenir Book", sans-serif;
    padding: 15px 20px;
    
}
.btn3{
    height: auto;
    width:auto;
    background-color: white;
    position: absolute;
    letter-spacing: 0.06rem;
    left: 600px;
    color: #26262C;
    top: 1310px;
    font: 0.68rem / 0.68 "Avenir Book", sans-serif;
    padding: 15px 20px;
    
}
.btn4, .btn45, .btn44, .btn55, .btn22, .btn33, .btn10{
    height: auto;
    width:auto;
    background-color: white;
    position: absolute;
    letter-spacing: 0.06rem;
    left: 300px;
    color: #26262C;
    top: 1890px;
    font: 0.68rem / 0.68 "Avenir Book", sans-serif;
    padding: 15px 20px;
    
}

.btn45{
    left: 435px;
}
.btn22{
    left:995px;
    top: 570px;
}
.btn33{
    left:995px;
    top: 1015px;
}
.btn44{
    left:1025px;
    top: 1450px;
}
.btn55{
    left:1028px;
    top: 1890px;
}
.btn10{
    left:574px;
    top: 2505px;
}
.firsta{
    color: #26262C;
    text-decoration: none;
}
.firsta:hover{
    text-decoration-line: underline;
}

.up-right{
    display: grid;
    gap:20px;
}
.upleft{
    display: grid;
    gap: 15px;
}

.full > img, .full{
    width: 812px ;
    height: 568px;
}

.up-right > div > img, .up-right > div{
    height: 420px;
    width: 392px;
}

.mid{
    display:flex;
    gap:20px;
    
}
.midimage > img, .midimage{
    width: 396px;
    height: 576px;
}
/* .midimage{
    height: 400px;
    width: 300px;
} */
.middle > img, .middle{
    height: 558px;
    width: 1228px;
}

.udiv > p, .udivslider{
    color: #63636b;
    font-weight: lighter;
    font-stretch: normal;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: "Spectral Extra Light", serif;
    margin-bottom: 10px;
    text-align: center;
}
.udiv, .udivslider{
    border-bottom: 1px solid #656569;
    margin-bottom: 30px;
}
.udivslider{
    border-bottom: 1px solid #e3e3e9
}
.exInfo{
    padding-bottom: 60px;
    border-bottom: 1px solid #e3e3e9
}
.udivslider{
    text-align: left;
    color: #202022;
    font-size: 1.3rem;
    margin-bottom: -50px;
}

.exImg > img{
    height: 370px;
    width: 396px;
}
.exInfo {
    display: flex;
    gap: 20px;
}
.h3div{
    box-sizing: border-box;
}
.atag > a{
    color: #167a92;
    font: 0.7rem/1.3 Avenir Book,sans-serif;
    letter-spacing: .06rem;
}
.atag > a:hover{
    text-decoration: none;
   
}
.h4div > h4, .little{
    font-family: "Abel", sans-serif;
    font-size: 1.5rem;
    font-weight: 50;
    margin-top: 20px;
}
.h4div > h4{
    font-size: 0.99rem;
}
.about{
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #e3e3e9
}
.about > div > h2{
    font-family: 'Abel', sans-serif;
    font-family: 'Roboto Slab', serif;
    letter-spacing: .06rem;
    font-weight: 600;
    font-size: large;
}
.about > div > h4{
    font: 0.8rem/1.3 Avenir Book,sans-serif;
    letter-spacing: .06rem;
}

