* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    margin: auto;
    justify-content: center;
}
.main {
    width: 61%;
    background-color: #ffffff;
     
    margin-right: 5%;
    margin-top: 55px;
}
.box{
    border: 1px solid;
   
}
.box1{
    border-bottom : 1px solid;
    padding: 25px 10px 5px 20px;
    line-height: 8px;
}
.box2{
    border-bottom : 1px solid;
    padding: 20px 0px 10px 20px;
    font-size: 14px;   
    font-weight: 400;
}
.box3{
    border-bottom : 1px solid;
    padding: 17px 0px 10px 20px;
    font-size: 14px;
    background-color:#f7f6f2;
}
.box4{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 17px 0px 5px 10px;
    margin:0px 14px 0px 14px;
}
 
.box4>div{
    width: 46%;    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box5{
    display: flex;
    padding: 17px 0px 10px 12px;
    
}
 .box6{
    padding: 5px 10px 5px 18px;
    line-height: 8px;
 }
.box7{
    width: 46%;    
    display: flex;
    justify-content: space-evenly;
}

.main2 {
    width: 25%;
    margin-top: 55px;
    
}
.itamTags{
    width:50%;
}
.items{
    width: 50%;
}
.itemsPrice{
    width: 50%;
    margin-top:-166px;
}
.info{
    margin-left:20px;
}
.info>p{
    font-size: 14px;
    margin-bottom: 3px;
    font-family: 'Roboto', sans-serif;
}
.info>p>span{
   color:#5c5c5f;
}
.info>p:nth-child(2){
    margin-bottom: 15px;
    color: #a5642d;
}